:root {
-BackgroundcolorFirst: #e5e5e5;
-BackgroundcolorSecond: #2f303a;
-FontcolorFirst: #212121;
-FontcolorSecond:  #757575;
-Button: #00000026;
-Differentcolor: #2196f3;
-Colorshadow: #ffffff99;
-Colorwhite: #ffffff;
-Colornotwhite: #f5f4fa; 

}
    .body {
        background-color: var(-BackgroundcolorFirst);
        color: var(-FontcolorFirst);
        font-family: "Roboto","Raleway", sans-serif;
    }    
    .logo {
        font-family: "Raleway";
        font-weight: 700;
        font-size: 26px;
        line-height: 1.38;
        letter-spacing: 0.03em;
        color: #2196f3;
        text-decoration: none;
        color: var(Differentcolor);
    }
.list-style {text-transform: none;}    
.logo-recolor-header {color: var(-FontcolorFirst)}
.logo-recolor-footer { color: var(Colorwhite);}
.links {
        text-decoration: none;
        color: var(-FontcolorFirst);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.38;
        letter-spacing: 0.02em;
    }
.links:hover {color: var(-Differentcolor);}
.links:focus {color: var(-Differentcolor)}
.links-current-highlight {color: var(-Differentcolor);}
.links-contact {color: (-FontcolorSecond);}
.links-contact:focus {color: var(-Differentcolor);}
.links-contact-footer {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(-Differentcolor);
}
.footer-back {
    background: var(-BackgroundcolorSecond);
}
.address {
    font-weight: 400;
    font-size: 14px
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(-Colorwhite);
}
.button-portfolio {
    background: var(-Colornotwhite);
    color: var(-FontcolorFirst);
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
}
.button {
    background: var(-Colornotwhite) ;
    color: var(-FontcolorFirst)
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.62;
}
.button.hover {
    background: var(-Differentcolor);
    color: var(-Colorwhite);
    cursor: pointer;
}
.button-order {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 00.06em;
    text-align: center;
    align-items: center;
    color: var(-colorwhite);
    background: var(-Differentcolor);
}
.heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(-FontcolorFirst);
}
.third-heading {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 00.03em;
}
.second-heading {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
.first-heading {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: var(-Colorwhite);
    background: var(-BackgroundcolorSecond);
}
.text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(-FontcolorSecond);
}
.person-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(-FontcolorFirst)
}
.person-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(-FontcolorSecond);
}
.heading-portfolio {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(-FontcolorFirst)
}
.text-signature {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(-FontcolorSecond)
}