:root {
--backgroundColorFirst: #e5e5e5;
--backgroundColorSecond: #2f303a;
--fontColorFirst: #212121;
--fontColorSecond:  #757575;
--button: #00000026;
--colorBlue: #2196f3;
--colorShadow: #ffffff99;
--colorWhite: #ffffff;
--colorDarkWhite: #f5f4fa; 

}
    .body {
        color: var(--fontColorFirst);
        font-family: "Roboto","Raleway", sans-serif;
    }    
    .logo {
        font-family: "Raleway";
        font-weight: 700;
        font-size: 26px;
        line-height: 1.38;
        letter-spacing: 0.03em;
        color: #2196f3;
        text-decoration: none;
        color: var(--colorBlue);
    }
.list {list-style: none;}    
.logo-recolor-header {color: var(--fontColorFirst)}
.logo-recolor-footer { color: var(--colorWhite);}
.navigation {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.15;
        letter-spacing: 0.02em;
    }
.navigation .link:hover, 
.navigation .link:focus {color: var(--colorBlue);
outline-color: var(--colorBlue);}
.navigation.link {text-decoration: none;
color: var(--fontColorFirst)}
.navigation .current {color: var(--colorBlue)}

.links-contact {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
}
.links-contact .link {
color: var(--fontColorSecond);
text-decoration: none; 
}    
.links-contact .link:focus,
.links-contact .link:hover {
    color: var(--colorBlue);}
.back-footer {
    color: var(--colorWhite);
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    background-color: var(--backgroundColorSecond);
}
.back-footer .link {
    text-decoration: none;
    color: var(--fontColorSecond);
}
.back-footer .link:focus,
.back-footer .link:hover {
    color: var(--colorBlue);
}
.back-section-first {
    background-color: var(--backgroundColorSecond);
}
.back-section-second {
    background-color: var(--colorDarkWhite);
}
.address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--colorWhite);
}
.button-portfolio {
    background: var(--colorDarkwhite);
    color: var(--fontColorFirst);
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
}
.portfolio-link:hover {
    background-color: var(--colorBlue);
}
.button {
    background: var(--colorDarkwhite) ;
    color: var(--fontColorFirst);
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
}
.button.hover {
    background: var(--colorBlue);
    color: var(--colorWhite);
    cursor: pointer;
}
.button-order {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 00.06em;
    text-align: center;
    align-items: center;
    color: var(--colorWhite);
    background: var(--colorBlue);
}
.heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--fontColorFirst);
}
.third-heading {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 00.03em;
}
.second-heading {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
.first-heading {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: var(--colorWhite);
    background-color: var(--backgroundColorSecond);
}
.text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--fontColorSecond);
}
.person-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--fontColorFirst)
}
.person-position {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--fontColorSecond);
}
.heading-portfolio {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--fontColorFirst)
}
.text-signature {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--fontColorSecond)
}